@font-face {
  font-family: "PlayfairDisplay";
  font-style: normal;
}


@font-face {
  font-family: "VT323";
}
body {
  font-weight: 400;
  line-height: 1.65;
  text-decoration: none;
  background-color: white;

}

p {margin-bottom: 1.15rem;}


}

h1 {
  margin-top: 0;
  font-size: 5em;
}

h2 {font-size: 2em;}

h3 {font-size: 2.5em;}

h4 {font-size: 2.25em;}

h5 {font-size: 1.5em;}

small, .text_small {font-size: 0.667em;}


header a{
  font-family: "VT323";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: black;

}

p{
  font-family: "VT323";
  font-size: 50px;
}

footer a{
  font-family: "PlayfairDisplay-BlackItalic";
  text-decoration: none;
  color: white;

}
